body {
  background: #020617;
  color: white;
  font-family: Arial;
  padding: 20px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 6px;
  border: none;
}

button {
  background: #22c55e;
  font-weight: bold;
}

pre {
  background: #020617;
  margin-top: 10px;
  padding: 10px;
}